name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install Dependencies
        run: npm install

      - name: Build App
        run: npm run build --if-present

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 3.109.209.252
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/angular-minimal-template
            git pull origin master
            npm install
            npm run build
            pm2 restart server || pm2 start server.js --name server
