name: Deploy to EC2

on:
  push:
    branches:
      - master   # master पर push होते ही deploy चलेगा

jobs:
  deploy:
    name: Deploy React App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

        - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install Dependencies
        run: npm install

      - name: Build App
        run: npm run build --if-present

      - name: Deploy to EC2 using SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 3.109.209.252
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}     # yeh GitHub me store hoga
          script: |
            cd /home/ubuntu/angular-minimal-template
            git pull origin master
            npm install
            npm run build
            pm2 restart app || pm2 start dist/server.js --name app
